.myheading {
  color: #000000;
  font-family: Helvetica, "Open Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;

  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 50px;
}

.myheading:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.myheading:after {
  background-color: #c50000;
  content: "";
  display: block;
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 160px;
  bottom: 0;
  height: 3px;
  width: 75px;
}
